# Python
__pycache__/
*.pyc
venv/

# Jupyter
.ipynb_checkpoints/

# DVC
# Ignore everything in data folder...
data/*
# ...except processed models
!data/processed/
!data/processed/model.joblib
!data/processed/preprocessor.joblib


# Flask
*.log

# VS Code
.vscode/

.DS_Store
